In [82]:
from nba_api.stats.static import teams
import pandas as pd

In [83]:
OKC_data  = teams.find_teams_by_full_name("Oklahoma City Thunder")
OKC_id = OKC_data[0]['id'] # 1610612760 team id 

PAC_data = teams.find_teams_by_full_name("Indiana Pacers")
PAC_id = PAC_data[0]['id'] # 1610612754 team id

In [84]:
from nba_api.stats.endpoints import leaguegamefinder

finder = leaguegamefinder.LeagueGameFinder(
player_or_team_abbreviation= "T",
team_id_nullable=1610612760,
date_from_nullable="06/05/2025",
date_to_nullable="06/05/2025"
)

g1 = finder.get_data_frames()[0] 
g1_id= g1["GAME_ID"] #0042400401

# Players Data

In [85]:
from nba_api.stats.endpoints import boxscoretraditionalv2
box = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=g1_id)
players = box.player_stats.get_data_frame()
players.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

# Team Data

In [86]:
teams = box.team_stats.get_data_frame()
teams

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0042400401,1610612760,Thunder,OKC,Oklahoma City,240.000000:00,39,98,0.398,11,...,10,29,39,13,14,6,6,19,110,-1.0
1,0042400401,1610612754,Pacers,IND,Indiana,240.000000:00,39,82,0.476,18,...,13,43,56,24,1,7,24,22,111,1.0

# Advanced player and team stats

In [87]:
from nba_api.stats.endpoints import boxscoreadvancedv2
adv_box = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id=g1_id)
adv_player_df = adv_box.player_stats.get_data_frame() #advanced player stats

adv_team_df = adv_box.team_stats.get_data_frame()
adv_team_df #advanced team stats

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0042400401,1610612760,Thunder,OKC,Oklahoma City,240.000000:00,104.2,106.8,107.5,108.8,...,6.8,0.454,0.507,1.0,0.199,104.4,102.5,85.42,103,0.48
1,0042400401,1610612754,Pacers,IND,Indiana,240.000000:00,107.5,108.8,104.2,106.8,...,24.5,0.585,0.608,1.0,0.200,104.4,102.5,85.42,102,0.52

In [88]:
adv_player_df

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0042400401,1610612754,IND,Indiana,1630174,Aaron Nesmith,Aaron,F,,31.000000:10,...,31.3,0.500,0.506,0.188,0.188,105.91,103.94,86.62,68,0.085
1,0042400401,1610612754,IND,Indiana,1627783,Pascal Siakam,Pascal,F,,34.000000:59,...,4.5,0.500,0.539,0.207,0.213,106.61,106.34,88.61,78,0.131
2,0042400401,1610612754,IND,Indiana,1626167,Myles Turner,Myles,C,,27.000000:37,...,33.3,0.600,0.638,0.265,0.270,102.95,102.57,85.48,59,0.088
3,0042400401,1610612754,IND,Indiana,1629614,Andrew Nembhard,Andrew,G,,32.000000:24,...,9.5,0.455,0.530,0.192,0.201,101.32,101.50,84.58,69,0.089
4,0042400401,1610612754,IND,Indiana,1630169,Tyrese Haliburton,Tyrese,G,,38.000000:55,...,13.6,0.538,0.538,0.170,0.171,103.26,100.52,83.77,82,0.138
5,0042400401,1610612754,IND,Indiana,1630167,Obi Toppin,Obi,,,25.000000:18,...,21.4,0.944,0.944,0.200,0.207,104.17,102.46,85.39,54,0.171
6,0042400401,1610612754,IND,Indiana,1641767,Ben Sheppard,Ben,,,9.000000:05,...,0.0,0.750,0.750,0.087,0.096,100.83,103.05,85.87,19,0.033
7,0042400401,1610612754,IND,Indiana,204456,T.J. McConnell,T.J.,,,16.000000:33,...,23.1,0.750,0.750,0.205,0.211,112.04,110.24,91.87,38,0.117
8,0042400401,1610612754,IND,Indiana,1631097,Bennedict Mathurin,Bennedict,,,15.000000:53,...,10.0,0.200,0.370,0.205,0.213,104.62,105.77,88.14,34,0.015
9,0042400401,1610612754,IND,Indiana,1628418,Thomas Bryant,Thomas,,,8.000000:07,...,0.0,1.250,1.250,0.100,0.107,100.44,100.55,83.80,17,0.062
10,0042400401,1610612754,IND,Indiana,1628396,Tony Bradley,Tony,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
11,0042400401,1610612754,IND,Indiana,1642277,Johnny Furphy,Johnny,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
12,0042400401,1610612754,IND,Indiana,1630543,Isaiah Jackson,Isaiah,,DND - Injury/Illness,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
13,0042400401,1610612754,IND,Indiana,201949,James Johnson,James,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
14,0042400401,1610612754,IND,Indiana,1641716,Jarace Walker,Jarace,,DND - Injury/Illness,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
15,0042400401,1610612760,OKC,Oklahoma City,1629652,Luguentz Dort,Luguentz,F,,36.000000:21,...,0.0,0.750,0.750,0.115,0.118,101.48,101.03,84.19,76,0.128
16,0042400401,1610612760,OKC,Oklahoma City,1631114,Jalen Williams,Jalen,F,,36.000000:27,...,0.0,0.342,0.409,0.231,0.240,104.01,103.37,86.15,79,0.075
17,0042400401,1610612760,OKC,Oklahoma City,1631096,Chet Holmgren,Chet,C,,23.000000:32,...,9.1,0.222,0.304,0.183,0.195,101.93,105.07,87.56,52,0.045
18,0042400401,1610612760,OKC,Oklahoma City,1641717,Cason Wallace,Cason,G,,33.000000:16,...,0.0,0.333,0.333,0.107,0.114,104.10,103.87,86.56,72,0.020
19,0042400401,1610612760,OKC,Oklahoma City,1628983,Shai Gilgeous-Alexander,Shai,G,,39.000000:34,...,5.1,0.517,0.567,0.371,0.384,103.04,101.90,84.92,85,0.189
20,0042400401,1610612760,OKC,Oklahoma City,1627936,Alex Caruso,Alex,,,28.000000:28,...,7.7,0.438,0.539,0.151,0.160,107.51,106.23,88.52,64,0.088
21,0042400401,1610612760,OKC,Oklahoma City,1628392,Isaiah Hartenstein,Isaiah,,,17.000000:01,...,0.0,0.600,0.712,0.136,0.139,107.56,105.81,88.17,38,0.204
22,0042400401,1610612760,OKC,Oklahoma City,1630198,Isaiah Joe,Isaiah,,,11.000000:08,...,0.0,0.833,0.833,0.111,0.110,105.33,105.68,88.06,24,0.104
23,0042400401,1610612760,OKC,Oklahoma City,1630598,Aaron Wiggins,Aaron,,,9.000000:25,...,40.0,0.500,0.521,0.200,0.207,110.53,107.06,89.22,22,0.000
24,0042400401,1610612760,OKC,Oklahoma City,1629026,Kenrich Williams,Kenrich,,,0.000000:39,...,0.0,0.000,0.000,0.000,0.000,142.90,147.31,122.76,2,0.000
25,0042400401,1610612760,OKC,Oklahoma City,1642349,Ajay Mitchell,Ajay,,,4.000000:10,...,0.0,0.000,0.000,0.231,0.258,105.98,115.20,96.00,10,-0.083
26,0042400401,1610612760,OKC,Oklahoma City,1631172,Ousmane Dieng,Ousmane,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
27,0042400401,1610612760,OKC,Oklahoma City,1641794,Dillon Jones,Dillon,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
28,0042400401,1610612760,OKC,Oklahoma City,1631119,Jaylin Williams,Jaylin,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN

# Play by play data

In [89]:
from nba_api.stats.endpoints import playbyplayv2
pbp = playbyplayv2.PlayByPlayV2(game_id=g1_id)
pbp_df = pbp.get_data_frames()[0]
pbp_df # play by play stats

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0042400401,2,12,0,1,8:38 PM,12:00,None,Start of 1st Period (8:38 PM EST),None,...,None,None,0,0,None,NaN,None,None,None,0
1,0042400401,4,10,0,1,8:38 PM,12:00,Jump Ball Holmgren vs. Turner: Tip to Wallace,None,None,...,Pacers,IND,4,1641717,Cason Wallace,1.610613e+09,Oklahoma City,Thunder,OKC,1
2,0042400401,7,2,1,1,8:38 PM,11:39,MISS Dort 29' 3PT Jump Shot,None,None,...,None,None,0,0,None,NaN,None,None,None,1
3,0042400401,8,4,0,1,8:38 PM,11:36,None,None,Nesmith REBOUND (Off:0 Def:1),...,None,None,0,0,None,NaN,None,None,None,1
4,0042400401,9,2,1,1,8:38 PM,11:27,None,None,MISS Turner 25' 3PT Jump Shot,...,None,None,0,0,None,NaN,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,0042400401,722,9,1,4,11:04 PM,0:00,THUNDER Timeout: Regular (Full 6 Short 0),None,None,...,None,None,0,0,None,NaN,None,None,None,0
492,0042400401,723,8,0,4,11:06 PM,0:00,SUB: Holmgren FOR Dort,None,None,...,Thunder,OKC,0,0,None,NaN,None,None,None,0
493,0042400401,724,8,0,4,11:06 PM,0:00,None,None,SUB: Turner FOR Haliburton,...,Pacers,IND,0,0,None,NaN,None,None,None,0
494,0042400401,727,9,1,4,11:06 PM,0:00,None,None,Pacers Timeout: Regular (Reg.7 Short 0),...,None,None,0,0,None,NaN,None,None,None,0
495,0042400401,728,13,0,4,11:08 PM,0:00,None,End of 4th Period (11:08 PM EST),None,...,None,None,0,0,None,NaN,None,None,None,1

# Hustle stats

In [116]:
from nba_api.stats.endpoints import BoxScoreHustleV2

hustle = BoxScoreHustleV2(game_id=g1_id)
hustle_df = hustle.get_data_frames()[0]
hustle_df

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,screenAssists,screenAssistPoints,looseBallsRecoveredOffensive,looseBallsRecoveredDefensive,looseBallsRecoveredTotal,offensiveBoxOuts,defensiveBoxOuts,boxOutPlayerTeamRebounds,boxOutPlayerRebounds,boxOuts
0,0042400401,1610612754,Indiana,Pacers,IND,pacers,1630174,Aaron,Nesmith,A. Nesmith,...,0,0,0,0,0,0,1,1,1,1
1,0042400401,1610612754,Indiana,Pacers,IND,pacers,1627783,Pascal,Siakam,P. Siakam,...,0,0,1,0,1,0,1,1,1,1
2,0042400401,1610612754,Indiana,Pacers,IND,pacers,1626167,Myles,Turner,M. Turner,...,3,7,0,0,0,0,0,0,0,0
3,0042400401,1610612754,Indiana,Pacers,IND,pacers,1629614,Andrew,Nembhard,A. Nembhard,...,0,0,1,0,1,0,1,1,0,1
4,0042400401,1610612754,Indiana,Pacers,IND,pacers,1630169,Tyrese,Haliburton,T. Haliburton,...,1,3,0,1,1,0,0,0,0,0
5,0042400401,1610612754,Indiana,Pacers,IND,pacers,1630167,Obi,Toppin,O. Toppin,...,1,2,0,0,0,0,1,1,1,1
6,0042400401,1610612754,Indiana,Pacers,IND,pacers,1641767,Ben,Sheppard,B. Sheppard,...,0,0,0,0,0,0,1,1,0,1
7,0042400401,1610612754,Indiana,Pacers,IND,pacers,204456,T.J.,McConnell,T. McConnell,...,0,0,0,0,0,0,0,0,0,0
8,0042400401,1610612754,Indiana,Pacers,IND,pacers,1631097,Bennedict,Mathurin,B. Mathurin,...,0,0,0,1,1,0,0,0,0,0
9,0042400401,1610612754,Indiana,Pacers,IND,pacers,1628418,Thomas,Bryant,T. Bryant,...,1,2,0,0,0,0,0,0,0,0
10,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1629652,Luguentz,Dort,L. Dort,...,1,2,1,0,1,1,0,1,1,1
11,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1631114,Jalen,Williams,J. Williams,...,0,0,0,0,0,0,1,1,1,1
12,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1631096,Chet,Holmgren,C. Holmgren,...,2,4,0,0,0,0,0,0,0,0
13,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1641717,Cason,Wallace,C. Wallace,...,1,3,0,0,0,0,1,1,0,1
14,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1628983,Shai,Gilgeous-Alexander,S. Gilgeous-Alexander,...,1,2,0,0,0,0,0,0,0,0
15,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1627936,Alex,Caruso,A. Caruso,...,1,2,0,0,0,0,0,0,0,0
16,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1628392,Isaiah,Hartenstein,I. Hartenstein,...,6,12,0,0,0,0,0,0,0,0
17,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1630198,Isaiah,Joe,I. Joe,...,0,0,0,0,0,0,0,0,0,0
18,0042400401,1610612760,Oklahoma City,Thunder,OKC,thunder,1630598,Aaron,Wiggins,A. Wiggins,...,0,0,0,0,0,0,0,0,0,0